<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="1">
                    <add key="^(.*)/(.+?).htm$" value="$1/index.php?$1.htm [L]" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^admin/([^/]+)\.htm$" ignoreCase="false" />
                    <action type="Rewrite" url="admin/index.php?{R:1}.htm" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^([^/]+)\.htm$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?{R:1}.htm" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>